* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  padding: 1rem;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  background-color: #61dafb;
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  border: 2px solid #333;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
 
}

 .square:hover {
  background-color: whitesmoke;
  color: #61dafb;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 250px;
  gap: 2px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}